<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SauceCode.TotalSQLRecall.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SauceCode.TotalSQLRecall.MySettings>
            <setting name="CacheSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RowHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ColumnWidthSQL" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColumnWidthExecution" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ColumnWidthLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GridFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridDateFormat" serializeAs="String">
                <value>dd MMM yyyy HH:mm</value>
            </setting>
            <setting name="LimitSQLSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TooltipMaxLength" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LogFileLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </SauceCode.TotalSQLRecall.MySettings>
    </userSettings>
</configuration>
